<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>this is a heading</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
      quidem! Quibusdam corrupti pariatur labore omnis at porro, ea accusamus
      facere, totam explicabo corporis ad eius in illum? Dolor, excepturi natus?
      Sunt minima repellendus quae odit animi, iure quasi nulla, distinctio sed
      mollitia eveniet impedit omnis, veniam illum. Amet autem repudiandae,
      velit unde in hic suscipit voluptatum molestiae est iusto earum? A
      similique quae tempore obcaecati. Fuga porro sit quasi cumque laboriosam
      esse enim error iste eligendi quis ab quod similique suscipit quaerat
      recusandae totam accusamus repudiandae praesentium nesciunt, consequatur
      qui. Itaque quam, distinctio repudiandae mollitia, quos ducimus porro hic
      error deleniti id accusamus vero explicabo minima perspiciatis qui
      expedita dicta nobis voluptate nisi ex, ut officiis. Aperiam illum minima
      voluptatibus!
    </p>
    <button>click me!</button>
  </body>
</html>
